.body {
  display: flex;
  height: 97vh;
}

.card {
  width: 300px;
  height: 100%;
  border-left: 1px solid black;
  background-color: #272626;
}

app-map {
  height: 100%;
  width: calc(100vw - 300px);
  padding-right: 5px;
  align-self: center;
}

.section-form {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 1rem;
  text-align: center;

  p {
    font-size: 2rem;
  }
}

form {
  min-height: 270px;
}

footer {
  padding: .5rem;
  align-content: center;
  background-color: #1d1c1c;
}

#form-success,
#form-error {
  display: none;
}
